:root {
  --bodyBg: #eceff1;
  --menuBg: #263238;
  --progressBar: #e65100;
}

body {
  background: var(--bodyBg) !important;
}

#nprogress .bar {
  background: var(--progressBar) !important;
}

#menu {
  background: var(--menuBg) !important;
}
